@import url(https://cdn.jsdelivr.net/gh/Diamond-Vaults/dv-embed@latest/build/bundle.css);

.vault-main-container {
  font-family: "Poppins",sans-serif;
  font-size: initial;
  background-color: #030303;
  /*background: linear-gradient(.5deg,#020408 34%,#20272c 96.6%);*/
}

.vault-wallet-wrapper .wallet-btn
{
  font-family: "Poppins", serif !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}
