

.timer_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  color: #4aff2c;
  margin: 0 -10px;
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  position: relative;

  .timer_box{
    display: flex;
    align-items: center;
    animation: timerBox_anim 1.2s infinite alternate ease-out;
    @keyframes timerBox_anim {
      0%{
        transform: translateY(15px);
      }      
      100%{
        transform: translateY(-5px);
      }
    }
  }

  .timer_wrapper img{
	z-index: 1;
	display: block;
  }

  .glitch__layers_left {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
  .glitch__layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../../../assets//images/deezKits/curly_open.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
  }
  .glitch__layer:nth-child(1) {
    transform: translateX(-2%);
    animation: glitch-anim-1 2s infinite linear alternate;
  }
  .glitch__layer:nth-child(2) {
    transform: translateX(2%) translateY(2%);
    animation: glitch-anim-2 2.3s -.8s infinite linear alternate;
  }
  .glitch__layer:nth-child(3) {
    transform: translateX(3%);
    animation: glitch-anim-flash 1s infinite linear;
  }
  @keyframes glitch-anim-1 {
    0% {
      clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
    }
    10% {
      clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    20% {
      clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    30% {
      clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    40% {
      clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
    }
    50% {
      clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
    }
    60% {
      clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
    }
    70% {
      clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    80% {
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    90% {
      clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    100% {
      clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    }
  }
  @keyframes glitch-anim-2 {
    0% {
      clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
    }
    15% {
      clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    25% {
      clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
    }
    30% {
      clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    45% {
      clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
    }
    50% {
      clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
    }
    65% {
      clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    75% {
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    80% {
      clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    }
    95% {
      clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
    }
    100% {
      clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
    }
  }
  @keyframes glitch-anim-flash {
    0% {
      opacity: .2;
    }
    30%, 100% {
      opacity: 0;
    }
  }
  }

  .glitch__layers_right {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
  .glitch__layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../../../assets//images/deezKits/curly_close.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
  }
  .glitch__layer:nth-child(1) {
    transform: translateX(-2%);
    animation: glitch-anim-1 2s infinite linear alternate;
  }
  .glitch__layer:nth-child(2) {
    transform: translateX(2%) translateY(2%);
    animation: glitch-anim-2 2.3s -.8s infinite linear alternate;
  }
  .glitch__layer:nth-child(3) {
    transform: translateX(3%);
    animation: glitch-anim-flash 1s infinite linear;
  }
  @keyframes glitch-anim-1 {
    0% {
      clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
    }
    10% {
      clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    20% {
      clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    30% {
      clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    40% {
      clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
    }
    50% {
      clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
    }
    60% {
      clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
    }
    70% {
      clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    80% {
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    90% {
      clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    100% {
      clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    }
  }
  @keyframes glitch-anim-2 {
    0% {
      clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
    }
    15% {
      clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    25% {
      clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
    }
    30% {
      clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    45% {
      clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
    }
    50% {
      clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
    }
    65% {
      clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    75% {
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    80% {
      clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    }
    95% {
      clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
    }
    100% {
      clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
    }
  }
  @keyframes glitch-anim-flash {
    0% {
      opacity: .2;
    }
    30%, 100% {
      opacity: 0;
    }
  }
  }


  @media only screen and (max-width: 767px) {
    font-size: 13px;
    line-height: 19px;
    margin: 0 -7px;
  }
  .countdown {
    padding: 0 10px;
    @media only screen and (max-width: 767px) {
      padding: 0 7px;
    }
    .countdown_value {
      font-size: 58px !important;
      font-family: "Share Tech Mono";
      font-size: inherit;
      @media only screen and (max-width: 1799px) {
        font-size: 48px !important;
      }
      @media only screen and (max-width: 1599px) {
        font-size: 42px !important;
      }
      @media  only screen and (max-width:767px) {
        font-size: 30px !important;
      }
    }
    .countdown_type {
      font-size: 27px !important;
      font-family: "Share Tech Mono";
      font-size: inherit;
      @media  only screen and (max-width:1799px) {
        font-size: 22px !important;
      }
      @media  only screen and (max-width:767px) {
        font-size: 17px !important;
      }
    }
  }
  .countdown_dot {
    font-size: 61px;
    // margin-top: -28px;s
    @media  only screen and (max-width:767px) {
      font-size: 20px;
    }
  }
  .curlyBracket {
    position: relative;
    max-width: 7%;
    margin-top: 40px;
    animation: moveUpDown 1.2s infinite alternate ease-out;
    @media  only screen and (max-width:767px) {
      margin-top: 20px;
    }
    img {
      width: 100%;
      height: auto;
    }
    @keyframes moveUpDown {
      0%{
        transform: translateY(-15px);
      }
      100%{
        transform: translateY(5px);

      }
    }
  }
}
