@tailwind base;
@tailwind components;
@tailwind utilities;

._container {
	@apply mx-auto w-[1440px] _xl:w-[1120px] _lg:w-[880px] _md:w-[720px] _sm:w-[540px] _xs:w-full _xs:px-6;
}

/*img {*/
/*  @apply max-w-none;*/
/*}*/

.MuiModal-root {
	margin: 12px;
}

::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
