.connect_wallet_wrapper {
  position: absolute;
  top: 15px;
  right: 0;
  @media only screen and (max-width:767px) {
    top: 2px;
    // left: 55%;
    // transform: translateX(-50%);
  }

  .wallet_connect {
    i {
      display: none;
    }
    background-color: #19103d;
    @media only screen and (max-width:767px) {
      height: fit-content;
      line-height: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
    span {
      font-size: 15px;
      color: #4aff2c;
      text-transform: uppercase;
      padding: 0;
    }
  }
  .diss_connect {
    background-color: #19103d;
    @media only screen and (max-width:767px) {
      height: fit-content;
      line-height: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
    i {
      display: none;
    }
    p {
      font-size: 15px;
      color: #4aff2c;
      text-transform: uppercase;
      padding: 0;
    }
  }
}
