@charset "UTF-8";

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #000;
  height: 100%;
  font-size: 60%;
}
#root {
  height: 100%;
}
.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: capitalize;
  height: 100vh;
  flex-direction: column;
  font-size: 25px;
  a {
    text-decoration: none;
  }
}
.highlightedText {
  color: #fbff49;
  text-shadow: 0px 0px 16.1649px rgba(255, 247, 44, 0.83);
}
.BrownText {
  color: #7a58ff;
  font-size: 25px;
  @media only screen and (max-width: 767px) {
    font-size: 19px;
  }
}

.Toastify{
  div {
    font-size: 15px;
    width: fit-content !important;
    max-width: 480px;
  }

  div svg {
    width: 32px;
  }

  .Toastify__progress-bar{
    width: 100% !important;
  }

    .Toastify__progress-bar--success {
      background-color: #07bc0c;
    }
  
    .Toastify__progress-bar--error {
      background-color: #e74c3c;
    }
  
    .Toastify__progress-bar--warning {
      background-color: #f1c40f;
    }
  
    .Toastify__progress-bar--info {
      background-color: #3498db;
    }
}

.desktop_view {
  @media only screen and (min-width: 768px) {
    display: block;
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.mobile_view {
  @media only screen and (min-width: 768px) {
    display: none;
  }

  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.d-none{
  display: none;
}

@media only screen and (max-width: 767px) {
  .Toastify {
    div {
      font-size: 12px;
      width: fit-content !important;
      max-width: 380px;
    }

    div svg {
      width: 24px;
    }
  }
}